<nav aria-label="..." class="mt-3">
    <ul class="pagination">
        <li class="page-item {% if not prev_url %}disabled {% endif %}">
            <a class="page-link" href="{{prev_url}}" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        <li class="page-item active" aria-current="page"></li>
        {% for i in posts.paginator.page_range %}
        {% if posts.number == i%}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{i}}">{{i}}</a>
        </li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
        {% endif %}
        {% endfor %}
        <li class="page-item {% if not next_url %}disabled {% endif %}">
            <a class="page-link" href="{{next_url}}">Next</a>
        </li>
    </ul>
</nav>