        <div class="card mt-3">
          <div class="card-header mb">
            {{post.date_pub}}
            <strong>Author: {{post.author}}</strong>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{post.body|truncatewords:15}}</p>
            <a href="{{post.get_absolute_url}}" class="btn btn-primary">Read</a>
          </div>
        </div>
        <div class="card-footer text-muted">
            Tags:
            {% if post.tags.all %}
                {% for tag in post.tags.all %}
                        <a href="{{tag.get_absolute_url}}">{{tag.title}}</a>
                {% endfor %}
            {% else %}
                No tags
            {% endif %}
                <a href="{{post.get_edit_url}}" class="btn btn-success">Edit</a>
                <a href="{{post.get_delete_url}}" class="btn btn-danger">Delete</a>
        </div>