{% extends 'blog/base_blog.html' %}
    {% block title %}
        My Blog
    {% endblock %}

    {% block content %}
        <h1 class="mb-4">Last posts</h1>
        {% if request.user.is_authenticated %}
            <a href="post/create" class="btn btn-light">Create new post</a>
        {% endif %}
        {% for post in posts.object_list %}
            {% include 'blog/includes/post_card_template.html' %}
        {% endfor %}
        {% include 'blog/includes/pagination_template.html' %}
    {% endblock %}