{% extends 'blog/base_blog.html' %}
{% load crispy_forms_tags %}
    {% block title %}
        {{post.title}}
    {% endblock %}

    {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-md-8 card mb-4  mt-3 left  top">
                    <div class="card-body">
                        <h1>{{post.title}}</h1>
                        <p class="card-text ">{{ post.body }}</p>
                        <h4>Created by {{post.author}}</h4>
                    </div>
                </div>

                <div class="col-md-8 card mb-4  mt-3 ">
                    <div class="card-body">
                        <h2>{{ post.comments.count }} comments</h2>
                        {% for comment in comments %}
                        <div class="comments" style="padding: 10px;">
                            <p class="font-weight-bold">
                                {{ comment.name }}
                                <span class=" text-muted font-weight-normal">
                                    {{ comment.date_pub }}
                                </span>
                            </p>
                            {{ comment.body | linebreaks }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-8 card mb-4  mt-3 ">
                    <div class="card-body">
                        {% if new_comment %}
                        <div class="alert alert-success" role="alert">
                            Your comment is awaiting moderation
                        </div>
                        {% else %}
                        <h3>Leave a comment</h3>
                        <form method="post" style="margin-top: 1.3em;">
                            {% csrf_token %}
                            {{ comment_form | crispy }}
                            <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
                        </form>
                        {% endif %}
                </div>
            </div>
        </div>
    {% endblock %}