{% extends 'blog/base_blog.html' %}
{% block title %}
        Delete "{{post.title|title}}" post - {{block.super}}
{% endblock %}

{% block content %}
        <form action="{{post.delete_absolute_url}}" method="post">
            {% csrf_token %}
            <h3>Do you want to delete {{post.title}} post?</h3>
                <a href="{{post.get_absolute_url}}">Cancel</a>
                <button type="submit" name="button" class="btn btn-primary">Delete</button>

        </form>
{% endblock %}