{% extends 'blog/base_blog.html' %}
{% block title %}
        Delete "{{tag.title|title}}" tag - {{block.super}}
{% endblock %}

{% block content %}
        <form action="{{tag.delete_absolute_url}}" method="post">
            {% csrf_token %}
            <h3>Do you want to delete {{tag.title}} tag?</h3>
                <a href="{% url 'tags_list_url' %}">Cancel</a>
                <button type="submit" name="button" class="btn btn-primary">Delete</button>

        </form>
{% endblock %}