{% extends 'blog/base_blog.html' %}
{% block title %}
        Edit "{{tag.title|title}}" tag - {{block.super}}
{% endblock %}

{% block content %}
        <h2 class="mb-5">Edit your tag</h2>
        <form action="{{tag.get_edit_url}}" method="post">
            {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    {% if field.errors %}
                        <div class="alert alert-danger">
                            {{field.errors}}
                        </div>
                    {% endif %}
                    {{field.label}}
                    {{field}}
                </div>
                {% endfor %}
            <button type="submit" name="button" class="btn btn-primary">Edit tag</button>
        </form>
{% endblock %}