{% extends 'blog/base_blog.html' %}
    {% block title %}
        Tags list - {{block.super}}
    {% endblock %}

    {% block content %}
        <h1 class="mb-4">Tags:</h1>
            <a href="../tag/create" class="btn btn-light">Create new tag</a>
        {% for tag in tags %}
            <h3><a href='{{tag.get_absolute_url}}'>{{tag.title}}</a></h3>
            {% if request.user.is_authenticated %}
                <a href="{{tag.get_edit_url}}" class="btn btn-light">Edit</a>
                <a href="{{tag.get_delete_url}}" class="btn btn-danger">Delete</a>
            {% endif %}
        {% endfor %}
    {% endblock %}
