{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/../css/\ bootstrap.min.css"
    integrity="sha-MCw/SFnGEfJTGXwEOngsVZtNXFoaoApmYmi\ uXoPkFOJwJERdknLPMO" crossorigin="anonymous">

  <title>
    {% block title %}
    My Blog
    {% endblock %}
  </title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h1 class="navbar-brand">Power Struggle</h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'post_lists_url' %}">Blogs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'tags_list_url' %}">Tags</a>
        </li>
        <li class="nav-item">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <p class="nav-link">Hello {{user.username}}</p>
          </li>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{user.username}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="{% url 'password_change' %}">Change password</a>
              <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
            </div>
          </div>
          {% else %} 
          <form class="form-inline ml-auto"> 
            <a href="{% url 'login' %}" class="btn btn-outline-secondary mr-2"> Log In</a>
              <a href="{% url 'signup' %}" class="btn btn-primary ml-">Sign up</a>
          </form>
          {% endif %}
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" action="{% url 'post_lists_url' %}">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name='search'>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>
      </form>
    </div>
  </nav>

  <div class="container mt-5">
    <div class="row">
      <div class="col-6 offset-md-1">
        {% if not request.user.is_authenticated %}
          <p>If you want to create or edit posts you have to be <a href="{% url 'login' %}">authorized</a>.
          Or you can <a href="{% url 'signup' %}">create</a> a new account</p>
        {% else %}
        {% endif %}
        {% block content %}
        There is no content
        {% endblock %}
        
      </div>
    </div>
  </div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>