{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Sign Up{% endblock title %}
{% block content %} 

<h2>Sign Up</h2>
<form method="post"> 
    {% csrf_token %} 
    {{ form|crispy }}
    <button type="submit">Sign Up</button> 
</form>
{% endblock content %}
